
<div>
    <h1>datos del usuario</h1>
    <p>{{user}}</p>
</div>
<br>
<div>
    <P>{{products}}</P>
</div>
<br>
<!--boton para logout-->
<div>
    <button id="logout">Cerrar Sesión</button>
</div>
<script src="/js/logout.js"></script>