<div>
    <div>
        <h2>Agrege su producto</h2>
    </div>
    <form action="" method="">
        <table>
            <tr>
                <td>title:</td><td><input type="text" id="title"></td>
            </tr>
            <tr>
                <td>description:</td><td><input type="text" id="description"></td>
            </tr>
            <tr>
                <td>price:</td><td><input type="numer" id="price"></td>
            </tr>
            <tr>
                <td>thumbnail</td><td><input type="text" id="thumbnail"></td>
            </tr>
            <tr>
                <td>code:</td><td><input type="text" id="code"></td>
            </tr>
            <tr>
                <td>stock:</td><td><input type="number" id="stock"></td>
            </tr>
            <tr>
                <td><input type="button" id="btn" value="Agregar Producto"></td>
            </tr>
        </table>
    </form>
</div>
<div>
    <h3>esta es su lista de productos</h3>
</div>
<div>
    <p id="listProducts"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
